*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* html{
    font-size: 65,5%; */
/* } */
body{
    font-family: 'Oleo Script Swash Caps';
    /* font-size: 12px;
    line-height: 1.66; */
    /* background-image: url(/img/wine-background-red-wine.jpg); */
   
    
}
img{
    width: 100%;
}

/* ----HEADER------ */



header{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/fondoheader.jpg);
    background-size: cover;
    border-bottom: 5px solid rgb(8, 7, 7);
  
}
.header__logo{
    width: 20%;
    background-image: url(../img/fondoheader.jpg);

}


.menu__nav{
    width: 50%;
    margin: 0 10px 0 0;
   
   
}
.menu__ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    
    

}
/* Bodega links */


 .link{
    background: none;
    border: none;
    text-decoration: none;
    color: white;
    font-size: 1,5rem;
    cursor: pointer;
    padding: 10px;
    color: beige;
    text-transform: uppercase;
    background-color: black;
    font-weight:normal;
    display: block;
    white-space: nowrap;
    min-height: 1.3em;
    transition: 1s;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    z-index: -1; 

}
/* .dropdown.active > .link:focus,

.link:hover{
    background: #EB1D36;
    color:black
}
.dropdown{
    position: relative;

}

.dropdown__menu{
padding: 10px;
position: absolute;
left: 0;
top: calc(100% + .25rem);    
background-image: linear-gradient( 178.2deg,  rgba(118,8,23,1) 10.9%, rgba(158,12,33,1) 62.6% );
border: 2px solid black;
border-radius: .25rem;
box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
opacity: 0;
pointer-events: none;
transform: translateY(-10px);
transition: opacity 150ms ease-in-out, transform 150ms ease-in-out ;}

.dropdown.active > .link:focus + .dropdown__menu{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}  */





.boton__bodega{
    background-color: black;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
    font-size: 1,5rem;
    cursor: pointer;
    padding: 10px;
    color: beige;
    text-transform: uppercase;
    background-color: black;
    font-weight:normal;
    display: block;
    white-space: nowrap;
    min-height: 1.3em;
    transition: 1s;
    border-radius: 20px;
    z-index: -1; 

    
}   
    

.boton__bodega:hover{
    background-color: #EB1D36;
    color: black;
    transition: 2s;
    border: black;
}



.menu__link{
    text-decoration: none;
    color: beige;
        text-transform: uppercase;
        background-color: black;
        color: rgb(255, 255, 255);
        padding: 12px;
        font-size: 1,5em;
        transition: 1s;
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.menu__link:hover{
    background: #EB1D36;
    color:black
    
}

/* Fin header */


                /*----- Main --------*/

/* fondo encabezado */
.background__img{
    background-image: url(../img/fondo-encabezado.jpg);
    background-size: cover;
    
}
.titulo{
    font-size: 100px;
    font-family: 'Lora', serif;
    color: rgb(101, 5, 5)
}


.Destacados{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(64, 14, 21);



}
/* 4imagenes */
.cuatro__imagenes{
    display: flex;
    justify-content: space-between;
}
#about p{
    color: black;
    font-family:'Times New Roman', Times, serif;
    
} 


/* datos opcionales */
.datos{
    background-color: #280400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 50%;

}

.datos h3{
    font-size: 40px;
}
.datos p{
    font-style: italic;
}
.learn__more{
    text-decoration: none;
    color: whitesmoke;
    border: 1px solid;
    border-color: rgba(232,226,215,0.2);
    padding: 10px 20px;
    font-size: 14px;
    background-color: rgba(0,0,0,0);
    font-style: italic;
}
.learn__more:hover{
    transition: 0.4s;
    border-color: antiquewhite;
    color: antiquewhite;
}





.visitanos__titulo{
    
    font-size: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(64, 14, 21);
}
.plan__visit{
   text-decoration: none;
   color: rgb(64, 14, 21);
   border: 1px solid rgb(64, 14, 21) ; 
   padding: 20px 40px 20px 40px;
}
.plan__visit:hover{
    background-color: rgb(64, 14, 21);
    color: white;
    transition: 0.4s;

}


.background__uvas{
    background:url(../img/background-uvas.png);
    /* padding: 80px 0px; */
   
    
    

}
   .iconify{
    font-size: 2em;
   } 

   /*----- contacto--- *//*----- contacto--- *//*----- contacto--- *//*----- contacto--- *//*----- contacto--- *//*----- contacto--- *//*----- contacto--- */
.fondo__outline{
    position: relative;
    z-index: 2;
    text-align: center;
    background-color: rgba(11, 11, 11, 0.8);
    max-width: 80%;
    margin: 0 auto;
    padding: 90px 15%;
    font-size: 40px;
    min-width: 70%;
}
.fondo__destacados{
    background-image: url(../img/fondo-destacados.jpg);
}
.fondo__fono{
    background-image: url(../img/Fondofono.jpg);
    background-size: cover;
}
.contacto{
    font-size: 60px;
    color: #FBB454;
    content: "";
    height: 3px;
    display: block;
    margin: 30px auto;

}
/* Fin contacto *//* Fin contacto *//* Fin contacto *//* Fin contacto *//* Fin contacto */


/* Archivo Precios *//* Archivo Precios *//* Archivo Precios *//* Archivo Precios *//* Archivo Precios *//* Archivo Precios */

.full-screen-container{
    background-image: url(../img/Stock-precios.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.login__title{
    margin: 0;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
    color: beige;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    transition: 1s;
    border-radius: 20px;
   box-shadow: 0 0 15px 0 red;
   

}
.login__container{
    position: relative;
    z-index: 1;
    text-align: center;
    background-color:  hsl(355, 15%, 7%, .7);
   box-shadow: 0 0 15px 0 red;
    padding: 40px 30px;
    width: 80%;
    /* max-width: 600px; */
    
}
.go__pdf{
    background-color: black;
    text-decoration: none;
    color: white;
    border: 1px solid red ; 
    padding: 20px 40px 20px 40px;
 }
 .go__pdf:hover{
     
     color: white;
     transition: 0.4s;
     border: 1px solid black ;
     box-shadow: 0 0 15px 0 red;
 
 }
 .form{
    display: flex;
    flex-direction: column; 
     color: white;
    gap: 20px;
    margin-top: 40px;
 }
 .input__group{
    display: flex;
    flex-direction: column;
    gap: 7px;
 }
 .messagge{
    
    font-size: 1.25rem;
    padding: .5rem;
    background-color:hsl(355, 15%, 7%, .3); 
    width: 100%;
    font-weight: lighter;
    border-radius: .25rem;
 }
 .messagge:hover{
    background-color:hsl(355, 15%, 7%, .3);
    box-shadow: 0 0 15px 0 red;

 }
 ::placeholder{
    color: white;
 }
 .login__button{
    padding: .5em 1em;
    font-size: 2rem;
    font-weight: lighter;
    color: white;
    background-color:hsl(355, 15%, 7%, .3);
    border: 1px solid black;
    border-radius: .25em;
    outline: none;
    cursor: pointer;
 }
 .login__button:hover{
    box-shadow: 0 0 15px 0 red;

 }



   /*----------- PDFS-------- *//*----------- PDFS-------- *//*----------- PDFS-------- *//*----------- PDFS-------- *//*----------- PDFS-------- */
   .pokhara__pdf{
    margin: auto;
    display: block;
    width: 100%;
    height: 570px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   }
   .precios__pdf{
    margin: auto;
    display: block;
    width: 100%;
    height: 570px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   }
   .especiales__pdf{
    margin: auto;
    display: block;
    width: 100%;
    height: 570px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

   }
   /* fin PDFS */ /* fin PDFS */ /* fin PDFS */ /* fin PDFS */ /* fin PDFS */ /* fin PDFS */ /* fin PDFS */





/* Fin Main */


/* FOOTER */
   .footer{ 
background-image: url(../img/conchaytoro.jpg);
background-size: cover;
padding: 90px 0 0;
display: flex;
justify-content: center;

font-family: Raleway;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color:white;
}
.footer__nav{
    width: 50%;
    margin: 0 10px 0 0;
}


   
   .footer__titulo{
    font-size: 0,9rem;
text-align: center;}

    .footer__ul{
        list-style: none;
        text-align: center;
    display: flex;}

        .footer__link{
            color: aliceblue;
            padding:1rem;
            text-decoration: none;
            font-size: 0,7rem;
            background-color: black;
            border-radius: 20px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            width: 50%;           }
           .footer__link:hover{
            background-color: #EB1D36;
            color: black;
            transition: 1s;
            border: black;
            
           }

            .footer__sitios{
               display: flex;
                gap: 10px;
                list-style: none;
                padding: 10px;
                justify-content: center;
            }




/* Mobile */
@media (min-width:320px) and (max-width:576px) {
    .header__logo{
        display: none;
    }
    header{
        display: flex;
        flex-direction: column;
       
    }
    .menu__ul{
        display: flex;
        flex-direction: column;
        padding: 10px 20px 10px 20px;
        margin: 20px 10px 20px 10px;
        gap: 30px;
    }
    .main__encabezado{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        align-items: center;  
    }
    .titulo p{
        font-size: 10px;
    }
    .titulo{
        font-size: 50px;
    }
    .Destacados{
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    .cuatro__imagenes{
        
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 1px;
    }
    .contacto{
        font-size: 30px;

    }
    .datos{
        display: flex;
        flex-direction: column;
    }
    .datos__opcionales{
        display: none;
        
    }
    .background__uvas{
        display: none;
    }
    /* Archivo de precios */
    .login__container{
        padding: 20px 20px;
        margin: 30px 20px;
        width: 80%;
        height: 100vh;
        max-width: 600px;
    }
    .login__button{
        padding: 1em 1em;
        font-size: 1rem;

    }
    .messagge{
        font-size: 1.rem;
        padding: .3rem;
    }
    /* Fin archivo precios */
    
    .Footer{
        display: flex;
       flex-direction: column;
        
    }
    .footer__nav{
        display: flex;
        justify-content: center;
        width: 100%;

    }
    .footer__ul{
    display: flex;
        flex-direction: column;
        padding: 10px 20px 10px 20px;
        margin: 20px 10px 20px 10px;
        gap: 30px;
        text-align: center;
    
        }
}
    



/* Tablet */
@media only screen and (min-width:577px) and (max-width:991px){
    .header__logo{
        display: none;
    }
   
    
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    .menu__ul{
        display: flex;
        flex-direction: column;
        padding: 10px 20px 10px 20px;
        margin: 20px 10px 20px 10px;
        gap: 50px;
    }
    .main__encabezado{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        align-items: center;}

        .titulo p{
            font-size: 10px;
        }
        .titulo{
            font-size: 50px;
        }

        .Destacados{
            
            
            flex-wrap: wrap;
        }
        .cuatro__imagenes{
            
            display: none;
            flex-direction: column;
            align-items: center;
            gap: 1px;
        }
        .contacto{
            font-size: 30px;
    
        }
        .datos{
            display: flex;
            flex-direction: column;
        }
        .datos__opcionales{
            display: none;
            
        }
        .background__uvas{
            display: none;
        }
         /* Archivo de precios */
    .login__container{
        padding: 20px 20px;
        margin: 30px 20px;
        width: 80%;
        height: 100vh;
        max-width: 600px;
    }
    .login__button{
        padding: 1em 1em;
        font-size: 1rem;

    }
    .messagge{
        font-size: 1.rem;
        padding: .3rem;
    }
    /* Fin archivo precios */


}



/* Desktop */

@media only screen and (min-width:992px) and (max-width:1200px){
    .header__logo{
        width: 30%;
    
    }


    
        .icono{
           display: none;
        }
 .menu{
    width: 100%;
    margin: 0;
 }
        



/* .header__logo{
    display: none;} */

.menu__ul{
    display: flex;
    flex-direction: row;
    padding: 10px 20px 10px 20px;
    margin: 20px 10px 20px 10px;
    gap: 20px;
    }
    .Destacados{
       
        display: flex;
        flex-wrap: wrap;
        

    padding: 50px;}
    .background__uvas{
        background-position-x: center;
    }
     /* Archivo de precios */
     .login__container{
        padding: 20px 20px;
        margin: 30px 20px;
        width: 80%;
        height: 100vh;
        max-width: 600px;
    }
    .login__button{
        padding: 1em 1em;
        font-size: 1rem;

    }
    .messagge{
        font-size: 1.rem;
        padding: .3rem;
    }
    /* Fin archivo precios */

    }

    

   




