*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* html{
    font-size: 65,5%; */
/* } */
body{
    font-family: 'Oleo Script Swash Caps';
    /* font-size: 12px;
    line-height: 1.66; */
    background-image: url(/img/wine-background-red-wine.jpg);
   
    
}
img{
    width: 100%;
}

/* ----HEADER------ */



header{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url(/img/fondoheader.jpg);
    background-size: cover;
    border-bottom: 5px solid rgb(8, 7, 7);
  
}
.header__logo{
    width: 20%;}


.menu__nav{
    width: 50%;
    margin: 0 10px 0 0;
   
   
}
.menu__ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    
    

}
.boton__bodega{
    background-color: black;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   
    
}
.boton__bodega:hover{
    background-color: #EB1D36;
    color: black;
    transition: 1s;
    border: black;
}



.menu__link{
    text-decoration: none;
    color: beige;
        text-transform: uppercase;
        background-color: black;
        color: rgb(255, 255, 255);
        padding: 12px;
        font-size: 1,5em;
        transition: 1s;
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.menu__link:hover{
    background: #EB1D36;
    color:black
    
}
/* Fin header */


/*----- Main --------*/


.background__img{
    background-image: url(/img/fondo-encabezado.jpg);
    background-size: cover;
    
}
.fondo__outline{
    position: relative;
    z-index: 2;
    text-align: center;
    background-color: rgba(11, 11, 11, 0.8);
    max-width: 80%;
    margin: 0 auto;
    padding: 90px 15%;
    font-size: 40px;
    min-width: 70%;
}
.fondo__destacados{
    background-image: url(/img/fondo-destacados.jpg);
}
.fondo__fono{
    background-image: url(/img/Fondofono.jpg);
    background-size: cover;
}
.contacto{
    font-size: 60px;
    color: #FBB454;
    content: "";
    height: 3px;
    display: block;
    margin: 30px auto;

}

.titulo{
    font-size: 100px;
    font-family: 'Lora', serif;
    color: rgb(101, 5, 5)
}
/* .subtitle{
    
    padding: 13rem;
    height: 350px;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(115, 10, 10)
} */

.Destacados{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(64, 14, 21);



}
    


/* #about{
    
    font-family: 'Lora', serif;
    color: rgb(64, 14, 21);

}
    
} */


.datos{
    background-color:   rgb(64, 14, 21);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 50%;
   
    
}
.datos h3{
    font-size: 40px;
}
.datos p{
    font-style: italic;
}
.learn__more{
    text-decoration: none;
    color: whitesmoke;
    border: 1px solid;
    border-color: rgba(232,226,215,0.2);
    padding: 10px 20px;
    font-size: 14px;
    background-color: rgba(0,0,0,0);
    font-style: italic;
}
.learn__more:hover{
    transition: 0.4s;
    border-color: antiquewhite;
    color: antiquewhite;
}





.visitanos__titulo{
    
    font-size: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(64, 14, 21);
}
.planvisit{
   text-decoration: none;
   color: rgb(64, 14, 21);
   border: 1px solid rgb(64, 14, 21) ; 
   padding: 20px 40px 20px 40px;
}
.planvisit:hover{
    background-color: rgb(64, 14, 21);
    color: white;
    transition: 0.4s;

}


.background__uvas{
    background:url(/img/background-uvas.png);
    /* padding: 80px 0px; */
   
    
    

}
   .iconify{
    font-size: 2em;
   } 



   /*----------- PDFS-------- */
   .pokhara__pdf{
    margin: auto;
    display: block;
    width: 100%;
    height: 570px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   }
   .precios__pdf{
    margin: auto;
    display: block;
    width: 100%;
    height: 570px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   }
   .especiales__pdf{
    margin: auto;
    display: block;
    width: 100%;
    height: 570px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

   }

   


/* FOOTER */
   .footer{ 
background-image: url(/img/conchaytoro.jpg);
background-size: cover;
padding: 90px 0 0;
display: flex;
justify-content: center;

font-family: Raleway;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color:white;
}
.footer__nav{
    width: 50%;
    margin: 0 10px 0 0;
}


   
   .footer__titulo{
    font-size: 0,9rem;
text-align: center;}

    .footer__ul{
        list-style: none;
        text-align: center;
    display: flex;}

        .footer__link{
            color: aliceblue;
            padding:1rem;
            text-decoration: none;
            font-size: 0,7rem;
            background-color: black;
            border-radius: 20px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            width: 50%;           }
           .footer__link:hover{
            background-color: #EB1D36;
            color: black;
            transition: 1s;
            border: black;
            
           }

            .footer__sitios{
               display: flex;
                gap: 10px;
                list-style: none;
                padding: 10px;
                justify-content: center;
            }




/* Mobile */
 @media only screen and (max-width:576px){
    .header__logo{
        display: none;
    }
    header{
        display: flex;
        flex-direction: column;
       
    }
    .menu__ul{
        display: flex;
        flex-direction: column;
        padding: 10px 20px 10px 20px;
        margin: 20px 10px 20px 10px;
        gap: 30px;
    }
    }



/* Tablet */
/* @media only screen and (min-width:481) and (max-width:980px){

} */


/* Desktop */
/* @media only screen and (min-width:981px){ */
    
/* } */
   




/* GOTOP */

.go-top-container{
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    width: 6.6rem;
    height: 6.6rem;
    z-index: -1;
}
.go-top-button{
    width: 0rem;
    height: 0rem;
    background: #2071b2;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.go-top-button i{
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: .2s;
    color: #fff;

}
.show{
    z-index: 10;
}

.show .go-top-button{
    animation: popup .3s ease-in-out;
    width: 6.6rem;
    height: 6.6rem;
    z-index: 11;

}

.show i{
    transform: translate(-50%, -50% ) scale(1);
}
@keyframes popup{
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 8rem;
        height: 8rem;
    }
    100%{
        width: 6.6rem;
        height: 6.6rem;
    }

}





