<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bodega</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="shortcut icon" href="../img/Escudo.jpg" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Comforter&family=Lato:wght@300;400;700&family=Raleway&family=Sansita+Swashed:wght@300&display=swap" rel="stylesheet">
</head>
<body>
     <!-- inicio header -->
     <header>
        <img class="header__logo" src="../img/Logo.jpg" alt="Logo">
<nav class="menu__nav">
    <ul class="menu__ul">

        <li class="menu__item"><a class="menu__link" href="../index.html">Inicio</a></li>
        <li> <a class="menu__link" href="Bodega.html">Bodega</a></li>
        <li> <a class="menu__link" href="pokhara.html">POKHARA</a></li>
        <li> <a class="menu__link" href="Especiales.html">Especiales</a></li>
        <li> <a class="menu__link" href="Precios.html">Precios</a></li>
        <li><a class="menu__link" href="contacto.html">Contacto</a></li> 
        </ul>
</nav>
    </header>
    <!-- fin header -->


    <main>

    </main>


  
    

    <footer class="footer" >
        <div class="footer__flex">
            <div>
            <h2 class="footer__titulo">Mi sitios:</h2>
            <ul class="footer__sitios">
                <li><a href="https://www.instagram.com/santiagocaus/"><span class="iconify" data-icon="akar-icons:instagram-fill" style="color: #e8a0bf;"></span></a> <li>

                    </li> <a href="https://api.whatsapp.com/send?phone=2226540704&text=Contactar%20con"><span class="iconify" data-icon="logos:whatsapp"></span></a></li>

                    <li><a href="https://www.youtube.com/c/Argentinayelmundok"><span class="iconify" data-icon="fa:youtube" style="color: red;"></span></a></li>
            </ul>
        </div>
        <div>
            <h2 class="footer__titulo">Home</h2>
            <ul class="footer__ul">

                <li class="footer__item"><a class="footer__link" href="index.html">Inicio</a></li>
                <li> <a class="footer__link" href="./views/Bodega.html">Bodega</a></li>
                <li> <a class="footer__link" href="./views/pokhara.html">POKHARA</a></li>
                <li> <a class="footer__link" href="./views/Especiales.html">Especiales</a></li>
                <li> <a class="footer__link" href="./views/Precios.html">Precios</a></li>
                <li><a class="footer__link" href="./views/contacto.html">Contacto</a></li> 
                </ul>
            </div>






        </div>
    </footer>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    
</body>
</html>l