<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Precios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="shortcut icon" href="../img/Escudo.jpg" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Comforter&family=Lato:wght@300;400;700&family=Raleway&family=Sansita+Swashed:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <!-- inicio header -->
    <header>
        <a href="../index.html"><img class="header__logo" src="../img/Logo.jpg" alt="Logo"> 
        </a>
        <nav class="menu__nav">
          <ul class="menu__ul">
      
            <li><a class="menu__link" href="../index.html">Inicio</a></li>
            <div class="dropdown">
              <button class="btn btn-danger dropdown-toggle boton__bodega" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                BODEGA <iconify-icon icon="emojione:wine-glass" width="25"></iconify-icon>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item menu__link" href="../Pdf/FICHA VINOS-1.pdf">Mil Vientos</a></li>
                <li><a class="dropdown-item menu__link" href="../Pdf/FT BB STPB Malbec.pdf">STUPB</a></li>
                <li><a class="dropdown-item menu__link" href="../Pdf/FT BB TucJoven Malbec.pdf">Tucumen</a></li>
                <li><a class="dropdown-item menu__link" href="../Pdf/A LA PAR . ED. ESPECIAL 210626.pdf">Especiales</a></li>
              </ul>
              </div>
              <li> <a class="menu__link" href="../views/Precios.html">Precios <iconify-icon class="icono" icon="ic:baseline-price-check" style="color: green;" width="25"></iconify-icon></a></li>
              <li><a class="menu__link" href="../views/contacto.html">Contacto <iconify-icon class="icono" icon="cil:contact" width="25"></iconify-icon></a></li> 
              </ul>
      
    </nav>
      
      </header>
    <!-- fin header -->


    <main>
       
        <div class="full-screen-container">
            <div class="login__container">
            <h1 class="login__title"> Tabla de Precios</h1>
            <p class="text-white fs-4 my-4">
                Dentro de este Pdf te voy a dejar todo el segmento con los precios actualizados.
            </p>
            <a class="go__pdf fs-4 my-4" href="../Pdf/lista de precio de bodega Roque Perez 01-06-2022 VIAJES (1).pdf">View PDF <iconify-icon icon="bi:file-earmark-pdf" style="color: red;" width="30"></iconify-icon></a>
            
            <p class="m-3 fs-4 p-3 text-white">Cualquier inquietud o reclamos que tengas, no dudes en mandarnos, estamos a tu disposicion
            </p>
            <form class="form">
                <div class="input-group">
                <textarea class="messagge my-4 text-white"  placeholder= "Mensaje..." rows="4"></textarea>
               
         </div>
         <button type="submit" class="login__button ">Enviar</button>
         
    </form>
        </div>
        </div>

        <!-- <object class="precios__pdf" data="../Pdf/lista de precio de bodega Roque Perez 01-06-2022 VIAJES (1).pdf" type="application/pdf"></object> -->









    </div>
    </main>


  
    

    <footer class="footer p-3" >
        <div class="Footer">
            <div>
            <h5 class=" text-center footer__titulo">Mis sitios:</h5>
           
            <ul class="footer__sitios text-center">
                <li><a href="https://www.instagram.com/santiagocaus/"><span class="iconify" data-icon="akar-icons:instagram-fill" style="color: #e8a0bf;"></span></a> <li>

                    </li> <a href="https://api.whatsapp.com/send?phone=2226540704&text=Contactar%20con"><span class="iconify" data-icon="logos:whatsapp"></span></a></li>

                    <li><a href="https://www.youtube.com/c/Argentinayelmundok"><span class="iconify" data-icon="fa:youtube" style="color: red;"></span></a></li>
            </ul>
        </div>
      
        <div><h6 class="my-5 text-center">Suscribete a nuestro:</h5>
          
          
            <h5 class="my-5 text-center"><strong> "Newsletter"</strong></h5>
        
        <form>
          
          <form action="/#wpcf7-f37391-o1" method="post" class="wpcf7-form init" novalidate="novalidate">
            <div style="display: none;">
            <input type="hidden" name="_wpcf7" value="37391">
            <input type="hidden" name="_wpcf7_version" value="5.2.2">
            <input type="hidden" name="_wpcf7_locale" value="es_ES">
            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f37391-o1">
            <input type="hidden" name="_wpcf7_container_post" value="0">
            <input type="hidden" name="_wpcf7_posted_data_hash" value="">
            <input type="hidden" name="_wpcf7_recaptcha_response" value="HFOG81KxYSbgtjD18AFkURFwteeydPTT9kTxhHZwRIMBBsaRB-W2BdZxUWJjQcMmkXeQxSXBw3XBxGCWosACpxbG9XSEFJRBEaO2MfPl8AAW0PIDZgG2djXE1BXxxRS21RSwQpJBcuDDk2N3doOHVuG0cUXEISB24IPntnPBF1fn0">
            </div>
            <div class="input-group mb-3 justify-content-center">
            <span class="wpcf7-form-control-wrap email-692 "><input type="email" name="email-692" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" aria-required="true" aria-invalid="false" placeholder="Ingresa tu e-mail"></span>
            <div class="input-group-append">
              <span class="iconify" data-icon="ic:outline-mark-email-read" style="color: white;" data-width="30"></span>
            
            </div>
            </div><div class="wpcf7-response-output" role="alert" aria-hidden="true"></div></form>
             
        <div>
            <h2 class="footer__titulo text-center my-4"> <a href="../index.html">Home</a> </h2>
            <nav class="footer__nav">
            <ul class="footer__ul">

              <div class="dropdown">
                <button class="btn btn-danger dropdown-toggle boton__bodega" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Bodega <iconify-icon icon="emojione:wine-glass" width="25"></iconify-icon>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item menu__link" href="../Pdf/FICHA VINOS-1.pdf">Mil Vientos</a></li>
                  <li><a class="dropdown-item menu__link" href="../Pdf/FT BB STPB Malbec.pdf">STUPB</a></li>
                  <li><a class="dropdown-item menu__link" href="../Pdf/FT BB TucJoven Malbec.pdf">Tucumen</a></li>
                  <li><a class="dropdown-item menu__link" href="../Pdf/A LA PAR . ED. ESPECIAL 210626.pdf">Especiales</a></li>
                
                </div>
                
                <li> <a class="footer__link" href="../views/Precios.html">Precios</a></li>
                <li><a class="footer__link" href="../views/contacto.html">Contacto</a></li> 
                </ul>
                </nav>
            </div>
            
             






        </div>
      
    </footer>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
 <script>
 AOS.init();
 </script>

 <script src="gotop.js"></script>
    
</body>
</html>